/* style.css */
body {
    background-color    : #000000;
    font-family         : serif;
    color               : #ffee00;
    font-size           : 20pt;
    cursor              : default;
    -webkit-user-select : none;
    -moz-user-select    : none;
    user-select         : none;
}

h1 {
    font-family : serif;
    color       : #ffee00;
    font-size   : 25pt;
    font-weight : bold;
    text-align  : center;
}

h2 {
    font-family   : serif;
    color         : #ffee00;
    font-size     : 18pt;
    font-weight   : normal;
    text-align    : center;
    margin-bottom : 60px;
}

textarea {
    background-color : #000000;
    font-family      : serif;
    color            : #ffee00;
    font-size        : 20pt;
    cursor           : default;
    border           : none;
}

input {
    background-color : #000000;
    font-family      : serif;
    color            : #ffee00;
    font-size        : 20pt;
    cursor           : default;
    border           : none;
}

/* radio styling code */
input[type=radio] {
    width     : 2em;
    margin    : 0;
    padding   : 0;
    font-size : 1em;
    opacity   : 0;
}

input[type=radio]+label {
    display     : inline-block;
    margin-left : -2em;
    line-height : 1.5em;
}

input[type=radio]+label>span {
    display        : inline-block;
    width          : 0.875em;
    height         : 0.875em;
    margin         : 0.25em 0.5em 0.25em 0.25em;
    border         : 0.0625em solid #ffee00;
    border-radius  : 3em;
    background     : #000000;
    vertical-align : bottom;
}

input[type=radio]:checked+label>span>span {
    display       : block;
    width         : 0.5em;
    height        : 0.5em;
    margin        : 0.150em;
    border        : 0.0625em solid #000000;
    border-radius : 3em;
    background    : #ffee00;
}
/* end of radio styling code */

button, .button {
    background-color : #000000;
    font-family      : serif;
    width            : 100%;
    color            : #ffee00;
    font-size        : 20pt;
    cursor           : default;
    border           : 0.0625em solid #ffee00;
    border-radius    : 3em;
    text-align       : center;
}

div.bottom {
    background : #000000;
    position   : fixed;
    bottom     : 0px;
    left       : 0px;
    width      : 100%;
}

::-webkit-input-placeholder {
    color: #ddd9d9;
}

::-moz-placeholder {
    color: #ddd9d9;
}

::-webkit-scrollbar {
    display: none;
}

*:focus {
    outline: 0;
}

#superset {
    width  : 350px;
    margin : 0 auto;
}

#breakfast {
    width         : 350px;
    position      : absolute;
    left          : 0px;
    margin-bottom : 75px;
}

#lunch {
    width         : 350px;
    position      : absolute;
    margin        : 0 auto;
    margin-bottom : 75px;
}

#dinner {
    width         : 350px;
    position      : absolute;
    right         : 0px;
    margin-bottom : 75px;
}

#image {
    float  : right;
    width  : 40%;
    height : 40%;
}

#sndhandle {
    float: right;
}

@media screen and (max-width: 900px) {
    #breakfast {
        position      : relative;
        margin-bottom : 60px;
    }

    #lunch {
        position      : relative;
        margin-bottom : 60px;
    }

    #dinner {
        position: relative;
    }
}
/* end of style.css */
